In [1]:
!nvidia-smi

Sat Feb  1 12:45:19 2025
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 471.11       Driver Version: 471.11       CUDA Version: 11.4     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  NVIDIA GeForce ... WDDM  | 00000000:01:00.0 Off |                  N/A |
| N/A   37C    P8     8W /  N/A |    164MiB /  6144MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|    0   N/A  N/A      9664    C+G   ...ser\Application\brave.exe    N/A      |
|    0   N/A  N/A     15976    C+G   ...ser\Application\brave.exe    N/A      |
+-----------------------------------------------------------------------------+

### Importing Dependencies

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
cols = ['sentiment', 'id', 'date', 'query_string', 'user', 'text']

### Data Processing

In [9]:
df = pd.read_csv(r"C:\Users\Predator\Downloads\training.1600000.processed.noemoticon.csv\training.1600000.processed.noemoticon.csv", encoding="latin1", header = None, names = cols)

In [10]:
df.shape

(1600000, 6)

In [11]:
df.head()

,sentiment,id,date,query_string,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [12]:
# Checking the distribution of target column
df.sentiment.value_counts()

sentiment
0    800000
4    800000
Name: count, dtype: int64

In [19]:
df.drop(['id', 'date', 'query_string', 'user'], axis = 1, inplace = True)

KeyError: "['id', 'date', 'query_string', 'user'] not found in axis"

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   sentiment  1600000 non-null  int64
 1   text       1600000 non-null  object
dtypes: int64(1), object(1)
memory usage: 24.4+ MB

In [23]:
df.head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....